﻿@{
    ViewData["Title"] = "Home Page";
}

<script src="/lib/jquery/dist/jquery.js"></script>
<div class="text-center">
    <h1 class="display-4">Welcome</h1>
</div>


<a id="Proposition" style="margin-bottom:10px"></a>


<br />

Lives left : <a id="Life"></a>

<br />
<button id="A" class="letter" onclick="Propose('A')">A</button>
<button id="B" class="letter" onclick="Propose('B')">B</button>
<button id="C" class="letter" onclick="Propose('C')">C</button>
<button id="D" class="letter" onclick="Propose('D')">D</button>
<button id="E" class="letter" onclick="Propose('E')">E</button>
<button id="F" class="letter" onclick="Propose('F')">F</button>
<button id="G" class="letter" onclick="Propose('G')">G</button>
<button id="H" class="letter" onclick="Propose('H')">H</button>
<button id="I" class="letter" onclick="Propose('I')">I</button>
<button id="J" class="letter" onclick="Propose('J')">J</button>

<button id="K" class="letter" onclick="Propose('K')">K</button>
<button id="L" class="letter" onclick="Propose('L')">L</button>
<button id="M" class="letter" onclick="Propose('M')">M</button>
<button id="N" class="letter" onclick="Propose('N')">N</button>
<button id="O" class="letter" onclick="Propose('O')">O</button>
<button id="P" class="letter" onclick="Propose('P')">P</button>
<button id="Q" class="letter" onclick="Propose('Q')">Q</button>
<button id="R" class="letter" onclick="Propose('R')">R</button>
<button id="S" class="letter" onclick="Propose('S')">S</button>
<button id="T" class="letter" onclick="Propose('T')">T</button>

<button id="U" class="letter" onclick="Propose('U')">U</button>
<button id="V" class="letter" onclick="Propose('V')">V</button>
<button id="W" class="letter" onclick="Propose('W')">W</button>
<button id="X" class="letter" onclick="Propose('X')">X</button>
<button id="Y" class="letter" onclick="Propose('Y')">Y</button>
<button id="Z" class="letter" onclick="Propose('Z')">Z</button>

<br />
<button onclick="document.location.reload()" style="margin-top:50px" > New game</button>

<script>
    var solution = "";
    var life = 10;
    var table = [solution.length];
    var trouve = false;

    $(document).ready(function () {
        $.ajax({
            type: 'GET',
            url: '/dictionnaries/GetRandomWord',
            success: function (result) {
                solution = result.word.toUpperCase();
                for (var i = 0; i < solution.length; i++) {
                    if (solution[i] >= 'A' && solution[i] <= 'Z') {
                        table[i] = '_';
                    }
                    else {
                        table[i] = solution[i];
                    }
                }
                game();
            }
        })



    })

    function Propose(letter) {
        var old = table.slice(0, table.length);
        for (var i = 0; i < solution.length; i++) {
            if (letter == solution[i]) {
                table[i] = letter;
            }
        }
        if (old.toString() == table.toString()) {
            life -= 1;
        }
        var button = document.getElementById(letter);
        button.disabled = true;

        game();
    }

    function game() {



        var word = table.toString().replace(/,/g, '');
        var proposition = document.getElementById('Proposition');
        proposition.innerText = word;

        var lives = document.getElementById('Life');
        lives.innerText = life;

        if (word == solution) {
            trouve = true;
        }

        if (trouve) {
            var buttons = document.getElementsByClassName("letter");
            for (var i = 0; i < buttons.length; i++) {
                buttons[i].disabled = true;
            }
            alert("You win!");
        }
        if (life == 0) {
            var buttons = document.getElementsByClassName("letter");
            for (var i = 0; i < buttons.length; i++) {
                buttons[i].disabled = true;
            }
            alert("You loose: The word was: " + solution);
        }


    }
</script>


