﻿
@{
    ViewData["Title"] = "Test";
}

<h1>Test</h1>

<script src="/lib/jquery/dist/jquery.js"></script>
<div class="text-center">
    <h1 class="display-4">Welcome</h1>
</div>


<div>
    Remplacement des bonnes lettres:
    <a id="Test_remplacement1"></a>
    <a id="Test_remplacement2"></a>
    <a id="Test_remplacement3"></a>
</div>

<div>
    Victoire: 
    <a id="Test_victoire"></a>
</div>

<div>
    Perte de chance:
    <a id="Test_pertevie"></a>
    <a id="Test_nonpertevie"></a>
</div>

<div>
    Défaite:
    <a id="Test_defaite"></a>
</div>

<script>
    var solution = "TEST";
    var life = 10;
    var table = ['_','_','_','_'];
    var word = "";
    var trouve = false;

    $(document).ready(function () {
        game()
        Propose('T');
        if (word == "T__T") {
            var proposition = document.getElementById('Test_remplacement1');
            proposition.innerText = "OK";
            proposition.style.color = "green";
        }
        else {
            var proposition = document.getElementById('Test_remplacement1');
            proposition.innerText = "KO";
            proposition.style.color = "red";
        }
        Propose('E');
        if (word == "TE_T") {
            var proposition = document.getElementById('Test_remplacement2');
            proposition.innerText = "OK";
            proposition.style.color = "green";
        }
        else {
            var proposition = document.getElementById('Test_remplacement2');
            proposition.innerText = "KO";
            proposition.style.color = "red";
        }
        Propose('R')
        if (word == "TE_T") {
            var proposition = document.getElementById('Test_remplacement3');
            proposition.innerText = "OK";
            proposition.style.color = "green";
        }
        else {
            var proposition = document.getElementById('Test_remplacement3');
            proposition.innerText = "KO";
            proposition.style.color = "red";
        }
        Propose('S')
        if (word == "TEST" && trouve == true) {
            var proposition = document.getElementById('Test_victoire');
            proposition.innerText = "OK";
            proposition.style.color = "green";
        }
        else {
            var proposition = document.getElementById('Test_victoire');
            proposition.innerText = "KO";
            proposition.style.color = "red";
        }


        solution = "TEST";
        life = 3;
        table = ['_', '_', '_', '_'];
        word = "";
        trouve = false;
        Propose('R');
        if (life == 2) {
            var proposition = document.getElementById('Test_pertevie');
            proposition.innerText = "OK";
            proposition.style.color = "green";
        }
        else {
            var proposition = document.getElementById('Test_pertevie');
            proposition.innerText = "KO";
            proposition.style.color = "red";
        }
        Propose('S');
        if (life == 2) {
            var proposition = document.getElementById('Test_nonpertevie');
            proposition.innerText = "OK";
            proposition.style.color = "green";
        }
        else {
            var proposition = document.getElementById('Test_nonpertevie');
            proposition.innerText = "KO";
            proposition.style.color = "red";
        }
        Propose('F');
        Propose('Y');
        if (life == 0) {
            var proposition = document.getElementById('Test_defaite');
            proposition.innerText = "OK";
            proposition.style.color = "green";
        }
        else {
            var proposition = document.getElementById('Test_defaite');
            proposition.innerText = "KO";
            proposition.style.color = "red";
        }
    })

    function Propose(letter) {
        var old = table.slice(0, table.length);
        for (var i = 0; i < solution.length; i++) {
            if (letter == solution[i]) {
                table[i] = letter;
            }
        }
        if (old.toString() == table.toString()) {
            life -= 1;
        }

        game();
    }

    function game() {



        word = table.toString().replace(/,/g, '');


        if (word == solution) {
            trouve = true;
        }

        if (trouve) {
            
            alert("You win!");
        }
        if (life == 0) {
            
            alert("You loose: The word was: " + solution);
        }


    }
</script>


